.banner{
    margin: 1rem 0;
    display:grid;
    grid-template-columns: 1fr repeat(3, auto);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.banner img{
    border: 1px solid  var(--cor-borda);
}

.banner__amarelo{
    grid-area: 1/1/3/3;
}

.banner__lilas{
    grid-area: 1/3/2/4;
}

.banner__verde{
    grid-area: 2/3/3/4;
}

.banner__laranja{
    grid-area: 1/4/3/5;
}